/* apprenticeship */

.headerApprenticeship {
    background-image: url('~@/assets/BgApprenticeship.png');
    background-size: cover;
    min-height: 300px;
}

    .headerApprenticeship > div {
        padding-left: 10%;
        padding-top: 5%;
    }

        .headerApprenticeship > div > h1 {
            font-weight: bolder;
            margin-top: 9vh;
        }

.rocket {
    float: right;
    width: 39vw;
    height: 60vh;
}

.content {
    padding: 30px 50px;
}

    .content h2 {
        color: #000000;
        font-size: 27px;
        font-weight: bold;
    }

    .content p {
        color: #5F5F5F;
        margin-bottom: 65px;
    }

.jovemAprendiz {
}

    .jovemAprendiz h2 {
    }

    .jovemAprendiz p {
    }

    .jovemAprendiz img {
        height: 110px;
        width: 110px;
        margin-right: 40px;
        cursor:pointer;
    }

.divDepoimentos {
    margin-top: 45px;
    padding: 50px;
    background: #DFDFDF 0% 0% no-repeat padding-box;
}

.depoimento {
    display: none;
}

    .depoimento span {
        color: #171717;
        font-size: 14px;
        font-weight: bold;
    }

    .depoimento.active {
        display: block;
    }

    .depoimento:before {
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 55px solid #DFDFDF;
        content: "";
        position: absolute;
        top: 65vh;
        display: block;
    }

#d1:before {
    left: 67px;
}

#d2:before {
    left: 215px;
}

#d3:before {
    left: 364px;
}

#d4:before {
    left: 516px;
}

#d5:before {
    left: 665px;
}


/* apprenticeship */


@media (max-width: 1366px) {
    .rocket {
        width: 35vw;
        height: 98vh;
    }

    .depoimento:before {
        top: 105vh;
    }
}

@media (max-width: 1280px) {
    .rocket {
        width: 30vw;
        height: 69vh;
    }

    .depoimento:before {
        top: 75vh;
    }
}

@media (max-width: 1024px) {
    .jovemAprendiz img {
        margin-right: 13px;
    }

    .depoimento:before {
        top: 69vh;
    }

    #d2:before {
        left: 188px;
    }

    #d3:before {
        left: 310px;
    }

    #d4:before {
        left: 435px;
    }

    #d5:before {
        left: 557px;
    }
}

@media (max-width: 768px) {
    .rocket {
        display: none;
    }

    .depoimento:before {
        top: 67vh;
    }
}

@media (max-width: 425px) {
    .jovemAprendiz img {
        margin-right: 5px;
        height: 70px;
        width: 60px;
    }

    .depoimento:before {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 45px solid #DFDFDF;
        top: 71vh;
    }

    #d1:before {
        left: 57px;
    }

    #d2:before {
        left: 120px;
    }

    #d3:before {
        left: 185px;
    }
    #d4:before {
        left: 250px;
    }
    #d5:before {
        left: 315px;
    }
}

@media (max-width: 375px){
    .imgs{
        overflow:auto;
        display: flex;
    }
    .depoimento:before {
        top: 73vh;
    }
    #d1:before, #d2:before, #d3:before, #d4:before, #d5:before {
        display: none;
    }
}