.header {
    background-color:#292A35;
    height: 40px;
}

.iconSocialMediaHeader {
    margin-top: 10px;
    margin-right: 15px;
}

.mainSpaceBackgroudMenu {
    height: 500px;
}

.spaceParcOurSolution {
    margin-top:50px
}

.d-flex {
    display: flex;
}

.colorButtonSis {
    background-color: #910045;
    border-color: #910045;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    color: white;
}

.footerSis {
    background-color: #292A35;
}

#btnConhecaMais:hover {
    background-color: #910045;
    border-color: #910045;
}

/* .navLi > a {
    color:white !important;
    padding: 0 34px!important;
    border-right: 1px solid!important;
    margin:15px 0;
}
.navLi > .last {
    border-right: none!important;
}
.navLi > .last:hover {
    border-right: none!important;
}
.navLi > a:hover {
    color:#292A35 !important;
    border-right: 1px solid white!important;
} */
.nav {
    margin-top: 10px!important;
}
 .navbar{
    background: rgba(0, 0, 0, 0.2); 
    float: left;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 9;
    border:none;
    /* font-family: 'Source Code Pro', monospace; */
    color: white;
} 
.navPai > li  {
    border-right: 2px solid transparent !important;
}
.logo{
    width: 200px;
    padding: 0;
    margin-left:80%!important;
}
 
.logo > img{
    width: 65%;
}
 
@media only screen and (max-width: 600px) {
    .logo{
        margin-left:0%!important;
    }

    .autoHeight {
        height: auto !important;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    .logo{
        margin-left:10%!important;
    }

    .autoHeight {
        height: auto !important;
        padding-bottom: 10%;
    }
}

.colorFontDefault {
    color:#868686
}

.containerSisBlogAndComment {
    margin-top: 50px;
    margin-bottom: 50px;
}

.colorTitle {
    color: #303850
}

.row{
    margin: 0;
}

.colorDark {
    color: #666666
}

.colorDefaultSis {
    background-color: #910045;
    border-color: #910045;
}
/* .dropdown-menu{

    background: rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;
   
 } 
/* .dropdown-menu > li.kopie > a {
    padding-left:5px;
}
.dropdown-menu > li > a {
    color: white;
}
*/
.dropdown-submenu {
    position:relative;
} 


.dropdown-submenu>.dropdown-menu {
   top:0;
   left:100%;
   margin-top:-6px;
   margin-left:-1px;  
   width:115%;
 }
/*    
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
} */
  
/* .dropdown-submenu:hover>a:after {
    border-left-color:#555;
 } */

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
  background-color: transparent !important;

}

.dropdown-menu {
    left: -1px;
}


@media (min-width: 768px){
    .dropdown-menu {
        left: 0 !important;
    }
}
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    /* background-color: #fff; */
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     /* color: #fff; */
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     /* background-color: #ccc; */
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
      display: block;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

.colorBackgroundTalk {
    background-color: #0C1236;
}

.textAcademy {
    color: white;
    padding-left: 8%;
    padding-top: 5%;
    padding-right: 50%;
    font-size: 16px;
    padding-bottom: 5%;
}

.textTitleAcademy {
    color: white;
    padding-left: 8%;
    padding-top: 5%;
    font-size: 16px;
    padding-bottom: 5%;
}

.navbar-nav > li > a {
    padding: 5px 15px !important;
}
.navSomosSis {  
    padding:5% 2%;  
  
    background-color:rgba(255, 165, 0, 0.7)!important; 
    
}
.navSomosSis> li > a {
    color:white !important;
    font-size:13px;
}
.navSomosSisCarreira {  
    background-color:rgba(255, 165, 0, 0.7)!important; 
    
}
.navSomosSisCarreira> li> a {
    color:white !important;
    font-size:12px;
}

.navSolucoes{
    padding:5% 2%;  
  
    background-color: hsl(225, 25%, 25%, 0.7) !important; 

}
.navSolucoes > li> a {
    color:white !important;
    font-size:14px;
}
.navInovacao {
    padding: 5% 2%;
    background-color: hsl(331, 100%, 28%,0.7) !important;
    width: fit-content;
}
.navInovacao > li> a {
    color:white !important;
    font-size:14px;
}
.navBlog{
  
    background-color: hsl(331, 100%, 28% ,0.7) !important; 

}
.navBlog > li> a {
    color:white !important;
    font-size:14px;
}
.navContato {

    background-color: hsl(331, 100%, 28% ,0.7) !important; 

}
.navContato > li> a {
    color:white !important;
    font-size:14px;
}
.navTrabalhe{
    border-radius: 20px;
    background-color: orange !important; 
    color:white !important;
    font-size:14px;
}
#navTrabalheLi{
    background-image: linear-gradient(to right, #910045 ,hsl(0, 0%, 40%, 0));
    border-right:none !important;
}
.orange{
    background-color: orange !important; 
    color:white  !important;

}
.purple {
    background-color: #303850!important; 
    color:white  !important;
}
.pink {
    background-color: #910045 !important; 
    color:white  !important;
}

.lightGray {
    background-color: #868686 !important; 
    color:white  !important;
}
.gray {
    /* background-color: #666666 !important;  */
    background-color: #910045 !important; 

    
    color:white  !important;
}
.gray > a {
    color:white  !important;
}


.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}

.imgCounterDataSis {
    padding-top: 30%;
}

.textCounterDataSis {

    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}



/* Clients */

.liClients {
    width: 20%;
    float: left;
    min-height: 200px;
  }
  
.imgClients {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width:65%;
    vertical-align: middle;

}
.headerClientes{

    background-image: url('~@/assets/BgClients.png');
    background-size:cover;
    min-height: 300px;

}

.headerClientes > div {
    padding-left: 10%;
    padding-top: 5%;

}

.headerClientes > div > h1 {
    color:white;
    font-weight: bolder;
}
.headerClientes > div > p {
    color:white;
    font-weight: bolder;
}
.contentClientes > div {
    padding-left: 5%;
    padding-top: 5%;
}
.contentClientes > div > p {

    color:#868686;
    font-size: 25px;
    
}

.contentClientes > div > p:last-child 
{
    font-size: 30px;
    
}
.contentImgsClientes > div > p{
    color:#868686;
    font-size: 30px;
}
.contentImgsClientes > div {
    padding-left: 5%;
    padding-top: 3%;
}
.contentImgsParceiros > div {
    padding-left: 5%;
}
.contentImgsParceiros > div > p{
    color:#868686;
    font-size: 30px;
}
.contentImgsParceiros > div > div{
    padding-top: 5%;
}
/* Clients */


/* Transformation */
.headerTransformation{
    background-image: url('~@/assets/bg_transformation1.png');
    background-size:cover;
    min-height: 300px;
}


.headerTransformation > div {
    padding-left: 10%;
    padding-top: 5%;

}

.headerTransformation > div > h1 {
    color:white;
    font-weight: bolder;
}
.headerTransformation > div > p {
    color:white;
    font-weight: bolder;
}
.contentTransformation > div {
    padding-left: 5%;
    padding-top: 5%;
}
.contentTransformation > div > p {
    color:#868686;
    font-size: 20px;   
}
.contentTransformation > div> p:first-child{
    color: #666666;
    font-weight: bolder;
}
.contentTransformation1 {
    padding-bottom: 5%;
}

.contentTransformation1 div:first-child{
    padding: 0 0 !important;
}
.contentTransformation1 div:last-child{
    padding: 10px 30px !important;
    color:#868686;
    font-size: 15px;   
}
/* Transformation */

/* Consulting */
.headerConsulting{
    background-image: url('~@/assets/BgConsultoria.png');
    background-size:cover;
    min-height: 300px;
}
.headerConsulting > div {
    padding-left: 10%;
    padding-top: 5%;

}
.headerConsulting > div > h1 {
    color:white;
    font-weight: bolder;
}
.headerConsulting > div > p {
    color:white;
    font-weight: bolder;
}
.contentConsulting{
    background-image: url('~@/assets/bgConsultoriaContent.png');
    background-size:cover;
    min-height: 500px;
    padding-top: 50px;
}

.contentConsulting > div:first-child> div:first-child{
    background-color: #303F60;
    height: 150px;
    padding: 50px 30px;
    color:white;
    font-size:30px;
}
.contentConsulting > div:last-child> div:first-child{
    padding: 30px 30px !important;
    color:#868686;
    font-size: 15px; 
    /* background-image: linear-gradient(to left rgb(255, 255, 255) ,rgba(253, 244, 244, 0)); */
}

/* Consulting */


/* Development */

.headerDevelopment {
    background-image: url('~@/assets/bgDevelopment.png');
    background-size:cover;
    min-height: 300px;
}
.headerDevelopment > div {
    padding-left: 10%;
    padding-top: 5%;

}
.headerDevelopment > div > h1 {
    color:white;
    font-weight: bolder;
}
.headerDevelopment > div > p {
    color:white;
    font-weight: bolder;
}


/* Development */

/* Agile Coaching */
.headerAgileCoaching {

    background-image: url('~@/assets/bgAgileCoaching.png');
    background-size:cover;
    min-height: 300px;
}

.middlePartImgVideo {
    margin: 0px 0px;
    background-image: url('~@/assets/tourCompanyVideo.png');
    min-height: 700px;
    background-position-x: center;
    cursor: pointer;
}
.contentAgileCoaching > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

}
.contentAgileCoaching > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentAgileCoaching > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}
/* Agile Coaching */

/* Agile Cells */

.headeragileCells {

    background-image: url('~@/assets/bgAgilecells.png');
    background-size:cover;
    min-height: 300px;
}
.contentagileCells > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentagileCells > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentagileCells > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}
/* Agile Cells */

/* Dev Ops */

.headerDevOps {

    background-image: url('~@/assets/bg_devops.png');
    background-size:cover;
    min-height: 300px;
}
.contentDevOps > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentDevOps > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentDevOps > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

/* Dev Ops */


/* Cloud */

.headerCloud {

    background-image: url('~@/assets/bg_cloud.png');
    background-size:cover;
    min-height: 300px;
}
.contentCloud > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentCloud > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentCloud > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

/* Cloud */

/* Strategic */

.headerStrategic {

    background-image: url('~@/assets/bg_strategic.png');
    background-size:cover;
    min-height: 300px;
}
.contentStrategic > div {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentStrategic > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentStrategic > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

/* Strategic */


/* Agile Coaching */
.headerAgileCoaching {

    background-image: url('~@/assets/bgAgileCoaching.png');
    background-size:cover;
    min-height: 300px;
}

.middlePartImgVideo {
    margin: 0px 0px;
    background-image: url('~@/assets/tourCompanyVideo.png');
    min-height: 700px;
    background-position-x: center;
    cursor: pointer;
}
.contentAgileCoaching > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;

}
.contentAgileCoaching > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentAgileCoaching > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}
/* Agile Coaching */


/* Sustentation */

.headerSustentation {

    background-image: url('~@/assets/bg_sustentation.png');
    background-size:cover;
    min-height: 300px;
}
.contentSustentation > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentSustentation > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentSustentation > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

/* Sustentation */

/* Erp */

.headerErp {

    background-image: url('~@/assets/bg_erp.png');
    background-size:cover;
    min-height: 300px;
}
.contentErp > div {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentErp > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentErp > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

/* Erp */

/* Quality */

.headerQuality {

    background-image: url('~@/assets/bg_quality.png');
    background-size:cover;
    min-height: 300px;
}
.contentQuality > div:first-child {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentQuality > div:last-child {
 
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentQuality > div > p {
    color:#868686;
    font-size: 15px;   
}
.contentQuality > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}
.contentQuality > div > ul {
  list-style-type: none;
  padding-left: 0;
  color:black;

}
.contentQuality > div > ul > li{

    color:black;
    font-weight: bolder;
    font-size: 12px;
  }

/* Quality */

/* Design */

.headerDesign {

    background-image: url('~@/assets/bg_design.png');
    background-size:cover;
    min-height: 300px;
}
.contentDesign > div:first-child {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentDesign > div:last-child {
 
    padding-top: 5%;
    padding-bottom: 5%;
}

.contentDesign > div > p {
    color:#868686;
    font-size: 15px;   
}
.contentDesign > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}
.contentDesign > div > ul {
  list-style-type: none;
  padding-left: 0;
  color:black;

}
.contentDesign > div > ul > li{

    color:black;
    font-weight: bolder;
    font-size: 12px;
  }

/* Design */

/* ux */

.headerUx {

    background-image: url('~@/assets/bg_ux.png');
    background-size:cover;
    min-height: 300px;
}
.contentUx > div:first-child {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentUx > div:last-child {

    padding-top: 5%;
    padding-bottom: 5%;
}
.contentUx > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentUx > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

/* ux */


/* low Code */

.headerLowCode {

    background-image: url('~@/assets/bg_lowcode.png');
    background-size:cover;
    min-height: 300px;
}
.contentLowCode > div {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentLowCode > div> p {
    color:#868686;
    font-size: 15px;   
}
.contentLowCode > div > p:first-child
{
    font-size: 25px;
    color:black;
    padding-bottom: 20px;
}

.contentLowCodeMid {

    background-color: lightgray;
}
.contentLowCodeMid > div:first-child{

    display: flex;
    height: 150px;
}
.contentLowCodeMid > div:first-child > p{

  text-align: center;
  align-self: center;
  padding-left: 20%;
  font-size: 20px;    
  font-weight: bolder;
}
.contentLowCodeMid > div > ul {
    list-style-type: none;
    padding-left: 0;
    color:black;
    padding-top: 20px;
  }
.contentLowCodeList > ul > li{
    font-weight: bolder;
    color:black;
}
.contentLowCodeMid > div:last-child{
    padding: 2% 2% 2% 4%;
    font-size: 12px;
}
/* low Code */


/* SuccessCases */

.headerSuccessCases {
    background-image: url('~@/assets/BgSuccessCases.png');
    background-size: cover;
    min-height: 300px;
}

    .headerSuccessCases > div {
        padding-left: 10%;
        padding-top: 5%;
    }

        .headerSuccessCases > div > h1 {
            color: white;
            font-weight: bolder;
        }

.successCasesMain {
    padding: 35px;
}

    .successCasesMain h2 {
        text-align: left;
        font: normal normal 900 31px/40px Roboto;
        letter-spacing: 0px;
        color: #5F5F5F;
        opacity: 1;
    }

    .successCasesMain span {
        text-align: left;
        font: normal normal 900 31px/40px Roboto;
        letter-spacing: 0px;
        color: #5F5F5F;
        opacity: 1;
    }

    .successCasesMain p {
        text-align: left;
        font: normal normal normal 20px/26px Roboto;
        letter-spacing: 0px;
        color: #0A1034;
        opacity: 1;
    }

.divCases {
    border-right: 2px solid;
    height: 100%;
}

    .divCases span {
        text-align: center;
        font: normal normal normal 20px/51px Roboto;
        letter-spacing: 0px;
        color: #5F5F5F;
        opacity: 1;
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

.casesLogos {
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    text-align: left;
}

    .casesLogos:hover {
        cursor: pointer;
    }

    .casesLogos.active span {
        color: #910045;
    }

.CasesContent {
    padding-left: 50px;
    display: flex;
}

.casesDesc {
    display: none;
}

/* Vacancy */

#vacancy-page .header{

    background-image: url('~@/assets/vacancy-banner.png');
    background-size:cover;
    min-height: 300px;
    position: relative;
  }

  #vacancy-page .header > div:first-child {
      padding-left: 10%;
      padding-top: 5%;
  }
  
  #vacancy-page  .header > div > h1 {
    color:black;
    font-weight: bolder;
}

    #vacancy-page .header > div > p {
        color: black;
        font-weight: bolder;
    }

#vacancy-page #div-search{
    padding: 15px;
    background: #910045;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#vacancy-page #div-search span{
    color:white;    
    font-size: 24px;
}

#vacancy-page #div-search input[type=text]{
    width: 100%;
    height: 38px;
    font-size: 18px;
}

#vacancy-page #div-search button:focus {
    outline: none;
}

#vacancy-page #div-search button:hover{
    background: red;
}

#vacancy-page #div-vacancy-highlights{
    margin-top: 30px;
}

#vacancy-page #div-vacancy-highlights .title{
    min-height: 540px;
}

#vacancy-page #div-vacancy-highlights .title img{
    width: 100%;
}

.send-button{
    width: 100%;
    border: none;
    background: #FFBB00;
    border-radius: 30px;
    padding: 12px;
    font-weight: bold;
}

.vacancy-item{
    min-height: 152px;
    display: flex;
    flex-direction: row;
}

.vacancy-item-normal{
    display: flex;
    flex-direction: row;
}

.job-details{
    width: 500px;
    background: #910045;
    padding: 15px;
    position: absolute;
    margin-top: -7px;
    z-index: 1;
    color: white;
}

#send-curriculum{
    padding: 30px;
}

.lbl-cv a{
    color: gray;
}

.upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

.job-details-title{
    font-size: 23px;
    color: white;
}

.div-signin{    
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

#div-result-search{
    padding: 30px;
}

.img-item-tec {
    width: 14%;
    padding: 0px 15px 30px 15px;
}

.img-item-tec img {
    width: 100%;
}

.img-item-benefit {   
    width: 14%;
    margin: 0px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-item-benefit img {
    width: 75%;
}

.separator-bar{
    width: 94%;
}
.description {
    padding: 15px 0 0px 30px;
}
.description p{
    color: white;
}
#div-tecnology{
    background: #303F60;
}
    .casesDesc.active {
        display: block;
    }

.bancos {
    background-image: url('~@/assets/bancos.png');
}

    .bancos.active {
        background-image: url('~@/assets/bancos2.png');
    }

.industria {
    background-image: url('~@/assets/industria.png');
}

    .industria.active {
        background-image: url('~@/assets/industria2.png');
    }

.saude {
    background-image: url('~@/assets/saude.png');
}

    .saude.active {
        background-image: url('~@/assets/saude2.png');
    }

.servicos {
    background-image: url('~@/assets/servicos.png');
}

    .servicos.active {
        background-image: url('~@/assets/servicos2.png');
    }

.varejo {
    background-image: url('~@/assets/varejo.png');
}

    .varejo.active {
        background-image: url('~@/assets/varejo2.png');
    }

.seguros {
    background-image: url('~@/assets/seguros.png');
}

    .seguros.active {
        background-image: url('~@/assets/seguros2.png');
    }


/* SuccessCases */

.imgSlider {
    height:750px !important;
    width: 100%;

}
